body {
  font-family: 'Quicksand', sans-serif;
  background-color: #f8f9fa;
}

header {
  background-image: url('../img/bghero2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 7rem;
}

h1, h2, navbar-brand {
  font-family: 'Bitter', serif;
}

.iwhite {
  color: white;
}

.navbar-brand {
  font-family: 'Bitter', serif;
}
